<h1>Transcrições cadastradas</h1>

<div class="container">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNorm">Incluir</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome da música</th>
                <th>Artista</th>
                <th>Revista</th>
                <th>Publicação</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {

                    var nomeMusica = item.NomeMusica != null ? item.NomeMusica : "";
                    var nomeArtista = item.NomeArtista != null ? item.NomeArtista : "";
                    var nomeRevista = item.NomeRevista != null ? item.NomeRevista : "";
                    var publicacao = item.DataPublicacao != null ? item.DataPublicacao.ToString("MM/yyyy") : "";
                    <tr item-id="@item.Id">
                        <td>@item.Id</td>
                        <td>@nomeMusica</td>
                        <td>@nomeArtista</td>
                        <td>@nomeRevista</td>
                        <td>@publicacao</td>
                        <td>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalEdit" onclick="Alterar(this)">Alterar</button>
                            <button type="button" class="btn btn-default" onclick="Excluir(this)">Excluir</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Transcrição
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="InputNomeArtista">Nome do artista</label>
                        <input type="text" class="form-control"
                               id="InputNomeArtista" placeholder="Digite o nome do artista" />
                        <label for="InputNomeAlbum">Nome do álbum</label>
                        <input type="text" class="form-control"
                               id="InputNomeAlbum" placeholder="Digite o nome do álbum" />
                        <label for="InputNomeMusica">Nome da música</label>
                        <input type="text" class="form-control"
                               id="InputNomeMusica" placeholder="Digite o nome da música" />
                        <label for="InputNomeRevista">Nome da revista</label>
                        <input type="text" class="form-control"
                               id="InputNomeRevista" placeholder="Digite o nome da revista" />
                        <label for="InputDataPublicacao">Data da publicação</label>
                        <input type="month" class="form-control"
                               id="InputDataPublicacao"
                               placeholder="Digite a data da publicação" />
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" onclick="salvar()">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Editar transcrição 
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="InputNomeArtista">Nome do artista</label>
                        <input type="text" class="form-control"
                               id="InputNomeArtista" value=" " />
                        <label for="InputNomeAlbum">Nome do álbum</label>
                        <input type="text" class="form-control"
                               id="InputNomeAlbum" placeholder="Digite o nome do álbum" />
                        <label for="InputNomeMusica">Nome da música</label>
                        <input type="text" class="form-control"
                               id="InputNomeMusica" placeholder="Digite o nome da música" />
                        <label for="InputNomeRevista">Nome da revista</label>
                        <input type="text" class="form-control"
                               id="InputNomeRevista" placeholder="Digite o nome da revista" />
                        <label for="InputDataPublicacao">Data da publicação</label>
                        <input type="month" class="form-control"
                               id="InputDataPublicacao"
                               placeholder="Digite a data da publicação" />
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" onclick="salvar()">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function salvar() {
            var data = {
                NomeAlbum: $('#InputNomeAlbum').val(),
                NomeMusica: $('#InputNomeMusica').val(),
                NomeArtista: $('#InputNomeArtista').val(),
                NomeRevista: $('#InputNomeRevista').val(),
                DataPublicacao: $('#InputDataPublicacao').val()
            };

            $.ajax({
                url: '/principal/Persistir',//Acessa o controler e o método referente.
                type: 'POST',//Indica o método http utilizado
                contentType: 'application/json',
                data: JSON.stringify(data),//Monta o JSON com o objeto data criado acima.
                //headers: header//Informa o valor do token na chamada ajax.
            }).done(function (response) {//Recupera a resposta do servidor
                window.location.reload()
                })
        };
        function Excluir(elemento) {
            var itemSelecionado = $(elemento).parents('[item-id]');
            var itemId = itemSelecionado.attr('item-id');

            $.ajax({
                url: '/principal/Excluir',//Acessa o controler e o método referente.
                type: 'POST',//Indica o método http utilizado
                contentType: 'application/json',
                data: JSON.stringify(itemId),//Monta o JSON com o objeto data criado acima.
            }).done(function (response) {//Recupera a resposta do servidor
                window.location.reload()
            })
        }
        function Alterar(elemento) {
            var itemSelecionado = $(elemento).parents('[item-id]');
            var itemId = itemSelecionado.attr('item-id');
            var Model = {
                NomeArtista: "ArtistaTeste"
            }

            $.ajax({
                url: '#myModalEdit',
                contentType: 'application/json',
                data: JSON.stringify(Model),//Monta o JSON com o objeto data criado acima.
            })
        }
    </script>
}